:root {
  --color-primary: #2e4053;
  --color-primary-light: #f7f9f9;
  --color-primary-dark: #53412e;
  --shadow-dark: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06); }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  max-width: 145rem;
  height: 50rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-primary-light);
  border-radius: 3px;
  box-shadow: var(--shadow-dark); }
